vm_os_version            = "2022"
vm_os_edition            = "SERVERDATACENTER"
vm_name                  = "win2022-desktop-tpl"
vm_template_vmid         = 9022
vm_disk_size             = "80G"
vm_cpu_cores             = 2
vm_memory                = 4096

vm_boot_iso              = "local:iso/SERVER_2022_EVAL_x64FRE_en-us.iso"
vm_virtio_iso            = "local:iso/virtio-win.iso"

proxmox_url              = "https://pve01.lan:8006/api2/json"
proxmox_node             = "pve01"
proxmox_storage_pool     = "local-zfs"
proxmox_iso_storage_pool = "local"
proxmox_username         = "packer@pve!packer"
proxmox_skip_tls_verify  = true
vm_bridge                = "vmbr0"

# proxmox_api_token is read from PKR_VAR_proxmox_api_token env var
